
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/favicon.ico">

    <title>Dashboard - Universitas Narotama</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../assets/css/core/dashboard.css" rel="stylesheet">
  </head>

  <body id="app">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Universitas Narotama</a>
        <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="../index.html">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="financial_report.html">
                  <span data-feather="shopping-cart"></span>
                  Financial Report
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="asset_report.html">
                  <span data-feather="bar-chart-2"></span>
                  Assets Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="data_integration.html">
                  <span data-feather="layers"></span>
                  Data Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Student Ranking
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Cost Income Ratio
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Financial Report</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This month
              </button>
            </div>
          </div>

          <div class="card-deck mb-12 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Revenue</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title">1.829<small class="text-muted">mio</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><i class="fas fa-arrow-alt-circle-up"></i> 18.52 %</li>
                </ul>
                <button type="button" class="btn btn-sm btn-block btn-outline-primary">Open Details</button>
              </div>
            </div>

            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Invoice</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title">911<small class="text-muted">mio</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><i class="fas fa-arrow-alt-circle-down"></i> (9.14) %</li>
                </ul>
                <button type="button" class="btn btn-sm btn-block btn-outline-primary">Open Details</button>
              </div>
            </div>

            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Profit / Loss</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title">38.12<small class="text-muted">%</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><i class="fas fa-arrow-alt-circle-up"></i> 1.29 %</li>
                </ul>
                <button type="button" class="btn btn-sm btn-block btn-outline-primary">Open Details</button>
              </div>
            </div>

            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Forecast</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title">340<small class="text-muted">mio</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>For Next Month</li>
                </ul>
                <button type="button" class="btn btn-sm btn-block btn-outline-primary">Open Details</button>
              </div>
            </div>

          </div>

          
          <div class="card-deck mb-12 text-center">

            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title text-left">Revenue <small class="text-muted">(mio - last week)</small></h5>
                <div>
                  <canvas id="chart-1"></canvas>
                </div>
              </div>
            </div>

            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title text-left">Invoice <small class="text-muted">(mio - last week)</small></h5>
                <div>
                  <canvas id="chart-2"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="card-deck mb-12 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title text-left">Profit / Loss <small class="text-muted">(mio - last week)</small></h5>
                <div>
                  <canvas id="chart-3"></canvas>
                </div>
              </div>
            </div>

             <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title text-left">Forecast <small class="text-muted">(mio - last week)</small></h5>
                <div>
                  <canvas id="chart-4"></canvas>
                </div>
              </div>
            </div>
          </div>



        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="../assets/js/vue.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="../assets/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="../assets/js/chart.min.js"></script>
    <script type="text/javascript">
    var chart = [
      {id:1,data:[]},
      {id:2,data:[]},
      {id:3,data:[]},
      {id:4,data:[]}
    ]

    function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
    }


    for (var i = chart.length - 1; i >= 0; i--) {
      var ctx = document.getElementById("chart-"+chart[i].id);
      for(var x = 1;x<=7;x++){
        chart[i].data.push(getRandomInt(10,100));
      }

      new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: chart[i].data,
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    }
    </script>
  </body>
</html>
